<div>
    @if (IsLoading) 
    {
        <Spinner />
    }
    else
    {
        @ChildContent
    }    
</div>

@functions 
{
    [Parameter] 
    RenderFragment ChildContent { get; set; }

    [Parameter] 
    bool IsLoading { get; set; }
}
