<div>
    @if (!AnyContent) 
    {
        @if (IsLoading)
        {
            <Spinner />
        }
        else 
        {
            <strong>Nothing around...</strong>
        }        
    }
    else
    {
        @ChildContent
    }    
</div>

@functions 
{
    [Parameter] 
    RenderFragment ChildContent { get; set; }

    [Parameter] 
    bool IsLoading { get; set; }

    [Parameter]
    bool AnyContent { get; set; }
}
