<div class="page-controls">
    @if (!IsLoading && HasPrevious)
    {
        <button class="btn btn-primary" onclick="@OnFetchPrevious">Previous</button>
    }

    @if (IsLoading) 
    {
        <Spinner />
    }

    @if (!HasNext)
    {
        <em>This is it</em>
    }
</div>

@functions 
{    
    [Parameter]
    bool IsLoading { get; set;}
    
    [Parameter]
    bool HasPrevious { get; set;}
    
    [Parameter]
    bool HasNext { get; set;}
    
    [Parameter]
    Func<Task> OnFetchPrevious { get; set; }
}