<div class="row justify-content-center">
    <div class="col-sm-9 col-md-12 col-lg-8 col-xl-6">
        <div class="card mb-4">
            <img class="card-img-top" src="@shout.ImageUri" alt="Shout #@shout.ShoutId">
            <div class="card-body">
                <h2 class="card-title">@shout.Nick</h2>
                <p class="card-text">@shout.Body</p>
            </div>
            <div class="card-footer text-muted">
                This is the footer
            </div>
        </div>
    </div>
</div>

@functions 
{
    [Parameter]
    Shout shout { get; set; }
}