@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<main>        

    @if (shouts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var shout in shouts)
        {
            <ShoutDisplay shout=@shout />
        }
    }
</main>

@functions {
    Shout[] shouts;
    
    protected override async Task OnInitAsync()
    {
        var response = await Http.GetJsonAsync<ShoutsResponse>("api/Shouts/LatestShouts");
        shouts = response.Shouts.ToArray();
    }
}
