@page "/fetchdata"
@inject AppState state

<h1>Weather forecast</h1>
<button class="btn btn-primary" onclick="@state.GetPreviousShoutsPage">Previous</button>
<button class="btn btn-primary" onclick="@state.GetNextShoutsPage">Next</button>
<main>        

    @if (state.CurrentShoutsPage == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var shout in state.CurrentShoutsPage)
        {
            <ShoutDisplay shout=@shout />
        }
    }
</main>

@functions {
    protected override async Task OnInitAsync()
    {
        await state.GetNextShoutsPage();
    }

    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }
}
