@page "/"
@inject AppState state

<div>
@if (state.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <ShoutsPage Page=@state.CurrentShoutsPage />
}
</div>
<div class="page-controls">
@if (state.HasPreviousPage)
{
    <button class="btn btn-primary" onclick="@state.GetPreviousShoutsPage">Previous</button>
}

@if (state.HasNextPage)
{
    <button class="btn btn-primary" onclick="@state.GetNextShoutsPage">Next</button>
}
</div>

@functions {
    protected override async Task OnInitAsync()
    {
        await state.GetNextShoutsPage();
        await JSRuntime.Current.InvokeAsync<object>("initAppStateRef", new DotNetObjectRef(state));
    }

    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }
}