@page "/"
@inject AppState state

<DisplayContainer IsLoading=@(state.IsLoading && !state.CurrentShoutsPage.Any())>
    <div>
        <ShoutsPage Page=@state.CurrentShoutsPage />
    </div>
    <PageControls IsLoading=@state.IsLoading 
                HasPrevious=@state.HasPreviousPage 
                OnFetchPrevious=@state.GetPreviousShoutsPage />
</DisplayContainer>

@functions {
    protected override async Task OnInitAsync()
    {
        await state.GetNextShoutsPage();
        await JSRuntime.Current.InvokeAsync<object>("initAppStateRef", new DotNetObjectRef(state));
    }

    protected override void OnInit()
    {
        state.OnChange += StateHasChanged;
    }
}